* {
  margin: 0;
  padding: 0;
  color: white;
  background-color: rgb(30, 31, 32);
  font-family: Arial, Helvetica, sans-serif;
}

#app{
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header{
  margin-top: 1rem;
  width: 97vw;

}

#main {
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

input {
  background-color: rgb(189, 192, 196);
  border: none;
  border-radius: .2rem;
}

form {
  max-width: 18rem;
  height: 100vh;
  max-height: 17rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(117, 117, 117);
  border-radius: .3rem;
}

form div, label, h2, fieldset, legend{
  background-color: rgb(117, 117, 117);
}

.flex {
  display: flex;
}

.small-margin {
  margin-top: .5rem;
}

#paletteSubmit {
  padding: .5rem;
  border: none;
  border-radius: .2rem;
}

#default-pallette {
  justify-content: space-around;
  width: 97vw;
}

.pallette {
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#new-palettes {
  margin-top: 2rem;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 97vw;
}
li:hover {
  cursor: default;
}

.copy:hover {
  cursor: pointer; 
}